<div class="container">
  <div class="card">
    <div class="card-block">
      <h2 class="text-center">Add Nutrition Facts</h2>
      <!-- <form role="form" (ngSubmit)="addNutritionFacts(NutritionFactsAddForm.value)" #NutritionFactsAddForm="ngForm"> -->
      <form role="form" (ngSubmit)="addNutritionFacts()" [formGroup]="nutritionFactsForm">
        <div class="form-group row" [ngClass]="{'has-error': productNameMessage}">
          <label for="productName" class="sr-only control-label">productName</label>
          <div class="offset-sm-2 col-sm-8">
            <input type="text" class="form-control" id="productName" placeholder="Product Name" required="" name="productName" [(ngModel)]="productName" formControlName="productName">
            <div *ngIf="productNameMessage" class="alert alert-danger">
              {{productNameMessage}}
            </div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': imageMessage}">
          <label for="image" class="sr-only control-label">image</label>
          <div class="offset-sm-2 col-sm-8">
            <input type="text" class="form-control" id="image" placeholder="Image" required="" name="image" [(ngModel)]="image" formControlName="image">
            <div *ngIf="imageMessage" class="alert alert-danger">
              {{imageMessage}}
            </div>
          </div>
        </div>
        <div *ngIf="image" class=preview>
          <img [src]="image" alt="preview" />
        </div>
        <div class="form-group row" [ngClass]="{'has-error': servingSizeMessage}">
          <label for="servingSize" class="sr-only control-label">serving size</label>
          <div class="offset-sm-2 col-sm-8">
            <input type="number" class="form-control" id="servingSize" placeholder="Serving Size(g)" required="" name="servingSize" [(ngModel)]="servingSize" formControlName="servingSize">
            <div *ngIf="servingSizeMessage" class="alert alert-danger">
              {{servingSizeMessage}}
            </div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': caloriesMessage}">
          <label for="calories" class="sr-only control-label">calories</label>
          <div class="offset-sm-2 col-sm-8">
            <input type="number" class="form-control" id="calories" placeholder="Calories" required="" name="calories" [(ngModel)]="calories" formControlName="calories">
            <div *ngIf="caloriesMessage" class="alert alert-danger">
              {{caloriesMessage}}
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6 col-12">
            <div class="row" [ngClass]="{'has-error': saturatedFatMessage}">
              <label for="saturatedFat" class="sr-only control-label">saturated Fat</label>
              <div class="offset-sm-4 col-sm-8">
                <input type="number" class="form-control" id="saturatedFat" placeholder="Saturated Fat(g)" required="" name="saturatedFat"
                  [(ngModel)]="saturatedFat" formControlName="saturatedFat">
                  <div *ngIf="saturatedFatMessage" class="alert alert-danger">
                    {{saturatedFatMessage}}
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group row" [ngClass]="{'has-error': transFatMessage}">
              <label for="transFat" class="sr-only control-label">trans Fat</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="transFat" placeholder="Trans Fat(g)" required="" name="transFat" [(ngModel)]="transFat" formControlName="transFat">
                <div *ngIf="transFatMessage" class="alert alert-danger">
                  {{transFatMessage}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6 col-12">
            <div class="row" [ngClass]="{'has-error': cholesterolMessage}">
              <label for="cholesterol" class="sr-only control-label">cholesterol</label>
              <div class="offset-sm-4 col-sm-8">
                <input type="number" class="form-control" id="cholesterol" placeholder="Cholesterol(g)" required="" name="cholesterol" [(ngModel)]="cholesterol" formControlName="cholesterol">
                <div *ngIf="cholesterolMessage" class="alert alert-danger">
                  {{cholesterolMessage}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group row" [ngClass]="{'has-error': sodiumMessage}">
              <label for="sodium" class="sr-only control-label">sodium</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="sodium" placeholder="Sodium(mg)" required="" name="sodium" [(ngModel)]="sodium" formControlName="sodium">
                <div *ngIf="sodiumMessage" class="alert alert-danger">
                  {{sodiumMessage}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6 col-12">
            <div class="row" [ngClass]="{'has-error': dietaryFiberMessage}">
              <label for="dietaryFiber" class="sr-only control-label">dietaryFiber</label>
              <div class="offset-sm-4 col-sm-8">
                <input type="number" class="form-control" id="dietaryFiber" placeholder="Dietary Fiber(g)" required="" name="dietaryFiber"
                  [(ngModel)]="dietaryFiber" formControlName="dietaryFiber">
                  <div *ngIf="dietaryFiberMessage" class="alert alert-danger">
                    {{dietaryFiberMessage}}
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group row" [ngClass]="{'has-error': totalSugarsMessage}">
              <label for="totalSugars" class="sr-only control-label">totalSugars</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="totalSugars" placeholder="Total Sugars(g)" required="" name="totalSugars" [(ngModel)]="totalSugars" formControlName="totalSugars">
                <div *ngIf="totalSugarsMessage" class="alert alert-danger">
                  {{totalSugarsMessage}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': proteinMessage}">
          <label for="protein" class="sr-only control-label">protein</label>
          <div class="offset-sm-2 col-sm-8">
            <input type="number" class="form-control" id="protein" placeholder="Protein(g)" required="" name="protein" [(ngModel)]="protein" formControlName="protein">
            <div *ngIf="proteinMessage" class="alert alert-danger">
              {{proteinMessage}}
            </div>
          </div>
        </div>

        <div class="row form-group" [ngClass]="{'has-error': vitaminAMessage}">
          <div class="col-md-6 col-12">
            <div class="row">
              <label for="vitaminA" class="sr-only control-label">vitaminA</label>
              <div class="offset-sm-4 col-sm-8">
                <input type="number" class="form-control" id="vitaminA" placeholder="Vitamin A(IU)" required="" name="vitaminA" [(ngModel)]="vitaminA" formControlName="vitaminA">
                <div *ngIf="vitaminAMessage" class="alert alert-danger">
                  {{vitaminAMessage}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group row" [ngClass]="{'has-error': vitaminCMessage}">
              <label for="vitaminC" class="sr-only control-label">vitaminC</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="vitaminC" placeholder="Vitamin C(mg)" required="" name="vitaminC" [(ngModel)]="vitaminC" formControlName="vitaminC">
                <div *ngIf="vitaminCMessage" class="alert alert-danger">
                  {{vitaminCMessage}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': calciumMessage}">
          <label for="calcium" class="sr-only control-label">calcium</label>
          <div class="offset-sm-2 col-sm-8">
            <input type="number" class="form-control" id="calcium" placeholder="Calcium(mg)" required="" name="calcium" [(ngModel)]="calcium" formControlName="calcium">
            <div *ngIf="calciumMessage" class="alert alert-danger">
              {{calciumMessage}}
            </div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': ironMessage}">
          <label for="iron" class="sr-only control-label">iron</label>
          <div class="offset-sm-2 col-sm-8">
            <input type="number" class="form-control" id="iron" placeholder="Iron(mg)" required="" name="iron" [(ngModel)]="iron" formControlName="iron">
            <div *ngIf="ironMessage" class="alert alert-danger">
              {{ironMessage}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-8 pb-3 pt-2">
            <button type="submit" [disabled]="!nutritionFactsForm.valid"  class="btn btn-outline-secondary btn-lg btn-block">Add Nutrition Facts</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
