<div class="container">
  <div class="card bg-light border-dark mb-3" style="max-width: 50rem;">
    <img class="card-img-top" src="{{article?.image}}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{article?.title}}</h4>
      <button class="btn btn-danger" *ngIf="role == 'admin'" (click)="remove()">
          <i class="fa fa-trash-o"></i> Delete
      </button>
    </div>
    <div class="card-footer">
      <small class="text-muted mr-3">author: {{article?.author}}</small>
      <small class="text-muted mr-3">posted on: {{article?.createdOn | date:"longDate"}}</small>
    </div>
  </div>
  <div class="card border-dark mb-3" style="width: 50rem;">
    <ul class="list-group list-group">
      <li class="list-group-item">
        <p class="card-text">{{article?.description}}</p>
      </li>
    </ul>
  </div>
  <div class="card border-dark mb-3" style="max-width: 50rem;">
    <div class="card-header">Comments
      <span class="badge badge-secondary">{{currentCommentsLength}}</span>
    </div>
    <div class="card-body text-dark">
      <div *ngIf="article?.comments">
        <div *ngFor="let comment of article?.comments">
          <div class="comments-container card mb-3">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-2">
                    <img src="../../../../assets/images/default-profile.png">
                  </div>
                  <div class="col-md-10">
                    <div class="text-muted">{{comment.username}}</div>
                    <div class="text-muted">on {{comment.date | date:'longDate'}}</div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p>
                  {{comment.textComment}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!article?.comments" class="pl-3">
        <p> No Comments yet</p>
      </div>
  </div>
  <div [ngStyle]="{'max-width': '50rem', 'margin-left': '10.5rem'}">
    <app-comments [path]="path" [key]="articleKey"></app-comments>
  </div>
</div>