<div style="text-align:center" style="color: gray">
  <h1>
    {{ title }}!
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6" (click)="selectTeam($event)" style="background: red">Red</div>
    <div class="col-md-6" (click)="selectTeam($event)" style="background: green">Green</div>
    <div class="col-md-6" (click)="selectTeam($event)" style="background: blue">Blue</div>
    <div class="col-md-6" (click)="selectTeam($event)" style="background: orange">Orange</div>
  </div>
</div>
