<div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="/assets/images/default-profile.png" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">User Profile Information</h3>
                <p class="card-text"><strong>Email: </strong> {{email}}</p>
                <p class="card-text"><strong>My Recipes: </strong><span class="badge badge-secondary">{{recipeCollectionLength}}</span></p>
                <p class="card-text"><strong>My Articles: </strong><span class="badge badge-secondary">{{articleCollectionLength}}</span></p>       
              </div>
            </div>
      </div>
      <div class="col-md-6">
          <div>
              <p>
                  <button type="button" class="btn btn-outline-secondary" (click)="isCollapsedRecipes = !isCollapsedRecipes"
                          [attr.aria-expanded]="!isCollapsedRecipes" aria-controls="collapseExampleRecipes">
                          My Recipe Collection
                  </button>
                </p>
                <div id="collapseExampleRecipes" [ngbCollapse]="isCollapsedRecipes">
                  <div class="card">
                    <div class="card-body">
                        <div *ngIf="createdRecipes?.length == 0">
                            <p><em>Your collection is empty. Click <a href="/recipes/add"> here </a>to add recipe.</em></p>
                          </div>
                      <ul *ngIf="createdRecipes?.length > 0">
                        <app-recipe-collection [createdRecipes]="createdRecipes"></app-recipe-collection>
                      </ul>
                    </div>
                  </div>
                </div>
          </div>
          <br/>
            <div>
                <p>
                    <button type="button" class="btn btn-outline-secondary" (click)="isCollapsedArticles = !isCollapsedArticles"
                            [attr.aria-expanded]="!isCollapsedArticles" aria-controls="collapseExampleArticles">
                            My Article Collection
                    </button>
                  </p>
                  <div id="collapseExampleArticles" [ngbCollapse]="isCollapsedArticles">
                    <div class="card">
                      <div class="card-body">
                          <div *ngIf="createdArticles?.length == 0">
                              <p><em>Your collection is empty. Click <a href="/articles/add"> here </a>to add article.</em></p>
                            </div>
                        <ul *ngIf="createdArticles?.length > 0">
                          <app-article-collection [createdArticles]="createdArticles"></app-article-collection>
                        </ul>
                      </div>
                    </div>
                  </div>
            </div>
      </div>
    </div>
</div>