button{
    background-color: #009966;
    color: #fff;
}

h3{
    color: rgb(119, 115, 115);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

ul{
    list-style-type: none;
}