<div class="container">
  <div class="card bg-light border-dark mb-3" style="max-width: 50rem;">
    <div class="card-header">
      <ngb-rating [(rate)]="currentRate"></ngb-rating>
      <span class="mr-3 ml-3">
        Rate:
        <span class="badge badge-secondary">{{currentRate}}</span>
      </span>
      <span class="mr-3">
        Comments:
        <span class="badge badge-secondary">{{currentCommentsLength}}</span>
      </span>
    </div>
    <img class="card-img-top" src="{{recipe?.image}}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{recipe?.title}}</h4>
      <p class="card-text">{{recipe?.description}}</p>
      <button class="btn btn-success mr-3" *ngIf="isAuthenticated()" (click)="rateRecipe(recipeKey)">
        <i class="fa fa-star-o"></i> Like
    </button>
      <button class="btn btn-success mr-3" *ngIf="isAuthor(recipe?.userId)  || role == 'admin'" [routerLink]="['/recipes', recipeKey, 'edit']">
        <i class="fa fa-edit"></i> Edit
      </button>
      <button class="btn btn-danger" *ngIf="isAuthor(recipe?.userId) || role == 'admin'" (click)="remove()">
          <i class="fa fa-trash-o"></i> Delete
      </button>
    </div>
    <div class="card-footer">
      <small class="text-muted mr-3">category: {{recipe?.category}}</small>
      <small class="text-muted mr-3">author: {{recipe?.author}}</small>
      <small class="text-muted mr-3">posted on: {{recipe?.createdOn | date:"longDate"}}</small>
    </div>
  </div>
  <div class="card border-dark mb-3" style="width: 50rem;">
    <ul class="list-group list-group">
      <li class="list-group-item">
        <h4 class="card-title">Ingredients</h4>
        <p class="card-text">{{recipe?.ingredients}}</p>
      </li>
      <li class="list-group-item">
        <h4 class="card-title">Instructions</h4>
        <p class="card-text">{{recipe?.steps}}</p>
      </li>
    </ul>
  </div>
  <div class="card border-dark mb-3" style="max-width: 50rem;">
      <div class="card-header">Comments
        <span class="badge badge-secondary">{{currentCommentsLength}}</span>
      </div>
      <div class="card-body text-dark">
        <div *ngIf="recipe?.comments">
          <div *ngFor="let comment of recipe?.comments">
            <div class="comments-container card mb-3">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../../../../assets/images/default-profile.png">
                    </div>
                    <div class="col-md-10">
                      <div class="text-muted">{{comment.username}}</div>
                      <div class="text-muted">on {{comment.date | date:'longDate'}}</div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                    {{comment.textComment}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!recipe?.comments" class="pl-3">
          <p> No Comments yet</p>
        </div>
    </div>
    <div [ngStyle]="{'max-width': '50rem', 'margin-left': '10.5rem'}">
      <app-comments [path]="path" [key]="recipeKey"></app-comments>
    </div>
</div>
