<div class="container">
  <div class="card">
    <div class="card-block">
      <h2 class="text-center">Edit Recipe</h2>
      <form role="form" (ngSubmit)="editRecipe()" [formGroup]="recipeEditForm" >
        <div class="form-group row" [ngClass]="{'has-error': titleMessage}">
          <label for="title" class="sr-only control-label">title</label>
          <div class="offset-sm-2 col-sm-8" *ngIf="recipe">
            <input type="text" class="form-control" id="title" placeholder="Title" required="" name="title" [(ngModel)]="recipe.title"  formControlName="title">
            <div *ngIf="titleMessage" class="alert alert-danger">
              {{titleMessage}}
            </div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': authorMessage}">
          <label for="author" class="sr-only control-label">author</label>
          <div class="offset-sm-2 col-sm-8" *ngIf="recipe">
            <input type="text" class="form-control" id="author" placeholder="Author" required="" name="author" [(ngModel)]="recipe.author" formControlName="author">
            <div *ngIf="authorMessage" class="alert alert-danger">
              {{authorMessage}}
            </div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': categoryMessage}">
          <label for="category" class="sr-only control-label">category</label>
          <div class="offset-sm-2 col-sm-8" *ngIf="recipe">
            <input type="text" class="form-control" id="category" placeholder="Category" required="" name="category" [(ngModel)]="recipe.category" [ngbTypeahead]="search" formControlName="category">
            <div *ngIf="categoryMessage" class="alert alert-danger">
              {{categoryMessage}}
            </div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': descriptionMessage}">
          <label for="description" class="sr-only control-label">description</label>
          <div class="offset-sm-2 col-sm-8" *ngIf="recipe">
            <input type="text" class="form-control" id="description" placeholder="Description" required="" name="description" [(ngModel)]="recipe.description" formControlName="description">
            <div *ngIf="descriptionMessage" class="alert alert-danger">
              {{descriptionMessage}}
            </div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': ingredientsMessage}">
          <label for="ingredients" class="sr-only control-label">ingredients</label>
          <div class="offset-sm-2 col-sm-8" *ngIf="recipe">
            <input type="text" class="form-control" id="ingredients" placeholder="Ingredients" required="" name="ingredients" [(ngModel)]="recipe.ingredients" formControlName="ingredients">
            <div *ngIf="ingredientsMessage" class="alert alert-danger">
              {{ingredientsMessage}}
            </div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': stepsMessage}">
            <label for="steps" class="sr-only control-label">steps</label>
            <div class="offset-sm-2 col-sm-8" *ngIf="recipe">
              <textarea class="form-control" id="steps"  placeholder="Steps" required="" name="steps" [(ngModel)]="recipe.steps" formControlName="steps"></textarea>
              <div *ngIf="stepsMessage" class="alert alert-danger">
                {{stepsMessage}}
              </div>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': imageMessage}">
            <label for="image" class="sr-only control-label">image</label>
            <div class="offset-sm-2 col-sm-8" *ngIf="recipe">
              <input type="text" class="form-control" id="image" placeholder="Image" required="" name="image" [(ngModel)]="recipe.image" formControlName="image">
              <div *ngIf="imageMessage" class="alert alert-danger">
                {{imageMessage}}
              </div>
            </div>
          </div>
          <div *ngIf="recipe" class=preview>
            <img [src]="recipe.image" alt="preview"/> 
          </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-8 pb-3 pt-2">
            <button type="submit" [disabled]="!recipeEditForm.valid" class="btn btn-outline-secondary btn-lg btn-block">Edit Recipe</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>